body {
    background-image: url(/Kepek/The\ Hatter.png);
    background-size: cover;
}

h1 {
    text-align: center;
    padding-top: 60px;
    font-size: 440%;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 80px;
}

.floatright {
    float: right;
}

.elvalaszto {
    border: 2px solid gray;
    height: 3px;
    margin-bottom: 20px;
}

#kiskoz {
    margin-top: 100px;
}

h3 {
    text-decoration: none;
    margin-bottom: 30px;
}

.neerhozzapls {
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

h4 {
    font-size: 110%;
}

#halkeplejeb {
    margin-top: 300px;
}

.kisbetu {
    width: 60px;
}

