body {
    background-image: url(Kepek/The\ Hatter.png);
    background-size: cover;
    overflow-x: hidden;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    padding-top: 60px;
    font-size: 440%;
}

.dropdown {
    position: fixed;
    top: 100px;
    right: 20px;
}

#menukep {
    width: 30px;
    height: 30px;
  }

.elvalaszto {
    border: 2px solid gray;
    height: 3px;
    margin-bottom: 20px;
}

#kiskoz {
    margin-top: 100px;
}

h3 {
    text-decoration: none;
    margin-bottom: 30px;
}

.neerhozzapls {
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

h4 {
    font-size: 110%;
}

#halkeplejeb {
    margin-top: 300px;
}

.kisbetu {
    width: 60px;
}

.kepekoldalt {
    width: 100%;
}

#felcucc {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    background-color: #555;
  }
  
  #felcucc:hover {
    background-color: #444;
  }